// Customize the entire app. Change :root to your selector if you want to scope the styles.
@use '@angular/material' as mat;

:root {
  @include mat.form-field-overrides((
    filled-caret-color: orange,
    filled-focus-active-indicator-color: red,
  ));
}
.vehicle-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.vehicle-container mat-form-field {
  width: 220px;
}

.vehicle-container form {
  margin-bottom: 20px;
}

.vehicle-container form > * {
  margin: 12px 0;
}

.vehicle-container .mat-radio-button {
  margin: 0 12px;
}

.vehicle-form-fields {
  display: flex;
  align-items: flex-start;
}