@import '~@angular/material/theming';

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,  
  )
));

// for quick access to palette colors, you can also do this for lighter, darker and contrast versions
$primary-color-default: mat-color($candy-app-primary);
$accent-color-default: mat-color($candy-app-accent);
$warn-color-default: mat-color($candy-app-warn);